.gallery {
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 48px;
    max-width: 1920px;
}

.gallery-row {
   display: flex;
   flex-flow: row wrap;
}

.gallery-column {
    display: flex;
    flex-flow: column wrap;
}

.gallery-item {
    overflow: hidden;
    background-color: grey;
    border-radius: 10px;
    width: calc(20% - 24px);
    box-sizing: border-box;
    margin-bottom: 24px;
    margin-right: 24px;
}

div .gallery-row:nth-child(odd) .gallery-item:nth-child(odd) {
    height: 277px;
    z-index: 1;
}

div .gallery-row:nth-child(odd) .gallery-item:nth-child(even) {
    height: 138px;
}

div .gallery-row:nth-child(even) .gallery-item:nth-child(odd) {
    height: 138px;
}

div .gallery-row:nth-child(even) .gallery-item:nth-child(even) {
    height: 277px;
}

div .gallery-row:nth-child(even){
    height: 277px;
    margin-top: -138px;
    align-items: flex-end;
}


div .gallery-row:nth-child(odd){
    align-items: flex-start;
}

div .gallery-row:nth-child(even) {
    align-items: flex-end;
    margin-bottom: 24px;
}

.gallery-item:hover{
    background-color: blue;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}