.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(43, 43, 43, 0.7);
}

.modal .pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 996px;
  width: calc(100% - 96px);
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-radius: 10px;
  overflow: hidden;
}

.modal .pop-up .pop-up-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(43, 43, 43, 0.8);
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .pop-up .pop-up-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #2B2B2B;
  width: 50%;
  padding: 24px 24px 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  word-wrap: break-word;
}

.modal .pop-up .pop-up-text-wrapper h2 {
  font-size: 32px;
  margin: 0;
}

.modal .pop-up .pop-up-text-wrapper .author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.modal .pop-up .pop-up-text-wrapper .author-wrapper .author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  background-color: #828282;
  overflow: hidden;
}

.modal .pop-up .pop-up-text-wrapper .author-wrapper .author-name {
  font-weight: 500;
  color: #BDBDBD;
  font-size: 18px;
}

.modal .pop-up .pop-up-text-wrapper .pop-up-text-header {
  margin-bottom: 24px;
}

.modal .pop-up .pop-up-text-wrapper .pop-up-text-header .close-button {
  background-color: #3C3C3C;
  padding: 0px;
  border-radius: 10px;
  border: none;
  height: 32px;
}

.modal .pop-up .pop-up-text-wrapper .pop-up-text-header .close-button .close-button-icon {
  padding: 8px;
  height: 16px;
  width: 16px;
}

.modal .pop-up .camera-details-table {
  padding-top: 24px;
  border-top: 1px solid #3C3C3C;
}

.modal .pop-up .camera-details-table .camera-details-row {
  margin-bottom: 24px;
}

.modal .pop-up .camera-details-table .camera-details-row span {
  color: #828282;
  font-size: 12px;
}

.modal .pop-up .camera-details-table .camera-details-row p {
  color: #E0E0E0;
  font-size: 14px;
  margin: 6px 0;
}

.modal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

@media (max-width: 857px) {
  .modal .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 800px;
    width: calc(100% - 72px);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .modal .pop-up .pop-up-image-wrapper {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
  }
  .modal .pop-up .pop-up-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    max-height: 50vh;
    background-color: #2B2B2B;
    width: 100%;
    padding: 24px 24px 0 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
  }
  .modal .pop-up .pop-up-text-wrapper h2 {
    font-size: 18px;
  }
  .modal .pop-up .pop-up-text-wrapper .pop-up-text-header {
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=modal-pop-up.css.map */