@import '../../styles/variables.scss';

@mixin flexColumn {
    display: flex;
    flex-flow: column nowrap;
}

@mixin flexRow {
    display: flex;
    flex-flow: row nowrap;
}

@mixin fullFlexCenter {
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(43, 43, 43, 0.7);

    .pop-up {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        background-color: transparent;
        transform: translate(-50%, -50%);
        max-width: 996px;
        width: calc(100% - 96px);
        height: 600px;
        display: flex;
        flex-flow: row nowrap;
        border-radius: 10px;
        overflow: hidden;

        .pop-up-image-wrapper {
            @include flexColumn();
            justify-content: center;
            background-color: rgba(43, 43, 43, 0.8);
            width: 50%;
            box-sizing: border-box;
        }

        .pop-up-text-wrapper {
            @include flexColumn();
            background-color: $gray-1;
            width: 50%;
            padding: 24px 24px 0 24px;
            box-sizing: border-box;
            justify-content: space-between;
            color: $white;
            word-wrap: break-word;

            h2 {
                font-size: 32px;
                margin: 0;
            }

            .author-wrapper {
                @include flexRow();
                align-items: center;
                margin-top: 8px;

                .author-image {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    @include fullFlexCenter();
                    box-sizing: border-box;
                    margin-right: 8px;
                    background-color: $gray-3;
                    overflow: hidden;
                }

                .author-name {
                    font-weight: 500;
                    color: $gray-4;
                    font-size: 18px;
                }
            }

            .pop-up-text-header {
                margin-bottom: 24px;

                .close-button {
                    background-color: $gray-2;
                    padding: 0px;
                    border-radius: 10px;
                    border: none;
                    height: 32px;

                    .close-button-icon {
                        padding: 8px;
                        height: 16px;
                        width: 16px;
                    }
                }
            }            
        }

        .camera-details-table {
            padding-top: 24px;
            border-top: 1px solid $gray-2;

            .camera-details-row {
                margin-bottom: 24px;

                span {
                    color: $gray-3;
                    font-size: 12px;
                }

                p {
                    color: $gray-5;
                    font-size: 14px;
                    margin: 6px 0;
                }
            }
        }
    }
    .row {
        @include flexRow();
        justify-content: space-between;
        width: 100%;
    }

    .column {
        @include flexColumn();
        width: 100%;
    }

    @media (max-width: 857px) {
        .pop-up {
            @include flexColumn();
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            background-color: transparent;
            transform: translate(-50%, -50%);
            max-width: 800px;
            width: calc(100% - 72px);
            height: auto;
            border-radius: 10px;
            overflow: hidden;

            .pop-up-image-wrapper {
                width: 100%;
                max-height: 50vh;
                overflow: hidden;
               
            }

            .pop-up-text-wrapper {
                @include flexColumn();
                max-height: 50vh;
                background-color: #2B2B2B;
                width: 100%;
                padding: 24px 24px 0 24px;
                box-sizing: border-box;
                justify-content: space-between;
                color: white;

                h2 {
                    font-size: 18px;
                }

                .pop-up-text-header {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

